.box {
  border: 50px solid red;
  width: 200px;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.green {
  border-color: green;
}

.blue {
  border-color: blue;
}

.visible-hidden {
  visibility: hidden;
}

.display-non {
  display: none;
}

.section1 div > p {
  font: oblique 20px / 1 normal;
  color: #7f8c8d;
  text-align: center;
}

center {
  text-align: center;
}

footer {
  margin-top: 50px;
  height: 100%;
  position: relative;
  transform: translateY(-100%);
  background-color: gray;
  text-align: center;
}

.back-color {
  background-color: rgb(250, 245, 245);
}

.section1 h1 {
  text-align: center;
}
