#section1 box {
  border: 50px solid red;
  width: 200px;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

#section1 .green {
  border-color: green;
}

#section1 .blue {
  border-color: blue;
}

#section1 .visible-hidden {
  visibility: hidden;
}

#section1 .display-non {
  display: none;
}

#section1 div > p {
  font: oblique 20px / 1 normal;
  color: #7f8c8d;
}

#section1 #center {
  text-align: center;
}

#section1 footer {
  margin-top: 50px;
  height: 100%;
  position: relative;
  transform: translateY(-100%);
  background-color: pink;
}

#section1 .back-color {
  background-color: rgb(251, 250, 253);
}
